/* Assignment #1*/

$main: "school";
$child: "box";
$language: "en"; // English
$gap: 20px;

.#{$main} {
    padding: $gap;
    @if $language == "en"{direction: ltr} @else{direction: rtl};
    margin-left: $gap;
    .#{$main}-#{$child}{padding:calc($gap/2);}
    &:hover{.#{$main}-#{$child}{background-color: #eee;}}
}

/* Assignment #2*/
$main-color: red;
$alt-color: blue;
/*! Theme Version: 1.0 */
/*! Website Theme Main Color Is: #{$main-color} */
/*! Website Theme Alternate Color Is: #{$alt-color} */

/* Assignment #3*/
$number: 8;
.class{
@if ($number > 8) {color:blue}@else if($number >5){color:green}@else{color:red}
}

/* Assignment #4*/
$number: 10;
$color: red;
$theme: light;

// Write If Condition Code Here
.class
{
    @if($number > 5 and $color == red and $theme not dark){color:red;}
}

/* Assignment #5*/

$number: 10;

.box {
    @if ($number == 10){background-color: #EEE;
        text-align: center;}
    @else {@if($number ==9)
    {  background-color: #EEE;}
}
}