$num: 2;
$start: 100;

@function double($size) {
    @return $size * $num;
}

@for $i from 1 through 5
{
    .box-#{$start}{width:$start;height:double($start)}
    $start : double($start)
}



//  Assignment #2
@function get-total($kwargs...)
{
    $total :0;
    @each $arg in $kwargs
    {
        $total:$arg+$total;
    }
    @return $total;
}
.box {
    top: get-total(100, 50, 20);
    right: get-total(100, 50);
}