.content > .box {
  padding: 10px;
}
.content > .box > .title {
  padding: 18px;
}
.content .cat {
  padding: 15px;
}
.content.premium::before {
  content: "Premium Box";
}
.content.premium:hover {
  background-color: #eee;
}

.class > .child {
  padding: 10px;
}

.class > .child {
  padding: 10px;
}

.class > .child {
  padding: 10px;
}

.class > .child {
  padding: 10px;
}

.class {
  font-weight: bold;
  font-size: 20px;
}

/*
.parent + .sibling {
    margin: auto;
    margin-top: 10px;
}
.parent + .sibling ~ .last {
    padding: 10px;
}
*/
.parent + .sibling {
  margin: auto;
  margin-top: 10px;
}
.parent + .sibling ~ .last {
  padding: 10px;
}

.widget, .my-class {
  background-color: white;
  padding: 20px;
}

.main-border, .my-class {
  border: 1px solid #CCC;
}

.my-class {
  font-weight: bold;
  margin: 20px auto;
}

.my-class {
  background-color: white;
  padding: 20px;
}

.my-class {
  border: 1px solid #CCC;
}

.my-class {
  font-weight: bold;
  margin: 20px auto;
}

.box h2, .box p {
  font-size: 20px;
}

@media (max-width:575px) {
  .box h2, .box p {
    font-size: 16px;
  }
  .box h2 span, .box p span {
    font-weight: bold;
  }
}
.box a {
  color: #009688;
}
.box a:hover {
  color: #e91e63;
}

/*
@use '/Helpers/vars';
// ------ _functions.scss
@use '/Helpers/functions';

// --- Layout
// ------ _header.scss
@use '/Layout/header';

// ------ _footer.scss
@use '/Layout/footer';
*/
.box {
  font-size: 20px;
}
.box-holder {
  width: 1000px;
}
.box-holder-content {
  margin: auto;
}