@use './Helpers/vars';
@use './Helpers/colors';


// Assignment #1 
.content 
{
    > {
        .box
        {
            padding:10px;
            > .title
            {
                padding: 18px;
            }
        }
    }
    .cat 
    {
        padding: 15px;
    }
    &.premium
    { &::before{
        content: "Premium Box";
    }
    &:hover
    {
    background-color:#eee ;
    }
    }
}

// Assignment #2

.class > .child {
    padding: 10px;
}

.class >
{
    .child 
    {
        padding: 10px;
    }
}

.class
{
    > .child 
    {
        padding: 10px;
    }
}

.class
{
    >
    {.child 
    {
        padding: 10px;
    }
}
}

// Assignment #3
$weight:bold;
$main-size:20px;

.class {
    font-weight: $weight;
    font-size: $main-size;
}

// Assignment #4 will generate this in css :
/*
.parent + .sibling {
    margin: auto;
    margin-top: 10px;
}
.parent + .sibling ~ .last {
    padding: 10px;
}
*/

.parent {
    // this selector target first sibling element with class .sibling  after parent element
    & + .sibling 
    {
        margin: auto {
        top: 10px;
        }
    // this selector target sibling with class .last from all siblings
    & ~ .last {
        padding: 10px;
    }
    }
}

//Assignment #5
.widget {
    background-color: white;
    padding: 20px;
}
.main-border {
    border: 1px solid #CCC
}
.my-class {
    @extend .widget;
    @extend .main-border;
    font-weight: bold;
    margin: 20px auto;
}


// Assignment #6

%widget {
    background-color: white;
    padding: 20px;
}
%main-border {
    border: 1px solid #CCC
}
.my-class {
    @extend %widget;
    @extend %main-border;
    font-weight: bold;
    margin: 20px auto;
}

// Assignment #7
$mobile-width: "max-width:575px";
.box 
{
    h2,p
    {
        font-size: 20px;
    }
}

@media ($mobile-width) {
    .box 
    {
        h2,p
        {
            font-size: 16px;
            span{font-weight: bold;}
        }
    }
}

//Assignment #8

$red: #e91e63;
$green: #009688;
$link-color:$green;
$link-hover:$red;
.box a {
    color: $link-color;
    &:hover {
        color: $link-hover;
    }
}


// - Project_Folder
// --- Helpers
// ------ _vars.scss
/*
@use '/Helpers/vars';
// ------ _functions.scss
@use '/Helpers/functions';

// --- Layout
// ------ _header.scss
@use '/Layout/header';

// ------ _footer.scss
@use '/Layout/footer';
*/

//Assignment #10

.box {
    font-size: 20px;
    &-holder{width: 1000px;&-content{margin:auto}}
}