
.element{position: relative;}

@mixin arrow($direction:"top")
{
content:"";
display:block;
border:20px solid transparent;
position: absolute;
@if ($direction =="top"){
left:50%;
top:-40px;
transform: translateX(-50%);
border-bottom-color:red;
}
@if($direction == "right")
{
    top:50%;
    right:-40px;
    transform: translateY(-50%);
    border-left-color:red;
}@else if($direction == "left")
{
    top:50%;
    left:-40px;
    transform: translateY(-50%);
    border-right-color:red;
}@else if($direction == "bottom")
{
    left:50%;
    bottom:-40px;
    transform: translateX(-50%);
    border-top-color:red;
}@else 
{
   // @error "Property #{$direction} must be either left or right or top or bottom";
}
}


.element {
    &:before {
        @include arrow("top");
    }
}



// Assignment #2 

@for $i from 1 through 16
{
    .col-#{$i}{width:percentage($number: $i/16)}
}

// Assignment #3

$names:"books" 20px red 18,"games" 30px green 18,"dvds" 20px blue;


@each $class,$padding,$border-color,$font-size in $names
{   @if($font-size == null){$font-size:16px};
    .#{$class}{padding:$padding;font-size:$font-size;border-bottom:2px solid $border-color;color:#444}
}

// Assignment #4
$init: 1;

@while $init <= 5{
    .circle-#{$init *100}{ width: $init*100;
        height:$init *100 ;
        border-radius: $init *100 / 2;}
        $init :$init + 1;
}

// Assignment #5
@for $init from 1 through 5{
    .circle-#{$init *100}{ width: $init*100;
        height:$init *100 ;
        border-radius: $init *100 / 2;}
}

// Assignment #6


@mixin placeholder
{
    $prefixes:".",":-moz-","::-moz-",":-ms-input-","::-webkit-input-";
    @each $prefix in $prefixes
    {
        &#{$prefix+"placeholder"}{
        @content};
    }
    
}

.textarea {
    
    @include placeholder{
        color:#777;
    }; 
}

// Assignment #7

// Write Mixin Code Here
@mixin flex-center($width:400){
    display: flex;
    justify-content: center;
    align-items: center;
    width:$width;
}
// Using
.box-one {
    @include flex-center(400px);
}
.box-two {
    @include flex-center;
}
